Repository rooch-network/rooch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jolestar, @wow-sven, @baichuan3, @popcnt1, @steelgeek091, @yourmoonlight, @pause125, @geometryolife, @wubuku, @yubing744, @TwilightLogic, @Mine77

.github/CODEOWNERS:

/ @jolestar @wow-sven @baichuan3 @popcnt1 @steelgeek091
/Cargo.toml @jolestar @wow-sven @baichuan3 @popcnt1 @steelgeek091
/.github @yourmoonlight @jolestar
/scripts @yourmoonlight @jolestar
/kube @yourmoonlight @jolestar
/docker @yourmoonlight @jolestar

/moveos @steelgeek091 @jolestar
/moveos/metrics @baichuan3 @steelgeek091
/moveos/moveos @steelgeek091 @jolestar
/moveos/moveos-commons @baichuan3 @wow-sven
/moveos/moveos-config @baichuan3 @wow-sven
/moveos/moveos-store @baichuan3 @popcnt1
/moveos/moveos-types @jolestar @baichuan3
/moveos/moveos-verfier @steelgeek091 @jolestar
/moveos/raw-store @baichuan3 @popcnt1
/moveos/smt @baichuan3 @popcnt1 @jolestar

/frameworks @jolestar @baichuan3 @wow-sven 

/crates @baichuan3 @jolestar
/crates/rooch @wow-sven @pause125 
/crates/rooch-config @wow-sven @baichuan3
/crates/rooch-da @popcnt1 @jolestar 
/crates/rooch-executor @popcnt1 @jolestar
/crates/rooch-genesis @jolestar @baichuan3 
/crates/rooch-integration-test-runner @steelgeek091 @jolestar
/crates/rooch-key @wow-sven @popcnt1
/crates/rooch-open-rpc @wow-sven @baichuan3
/crates/rooch-open-rpc-macros @wow-sven @baichuan3
/crates/rooch-open-rpc-spec @wow-sven @baichuan3
/crates/rooch-proposer @jolestar @popcnt1
/crates/rooch-rpc-api @wow-sven @baichuan3
/crates/rooch-rpc-client @wow-sven @baichuan3
/crates/rooch-rpc-server @wow-sven @baichuan3
/crates/rooch-sequencer @popcnt1 @jolestar
/crates/rooch-store @baichuan3 @popcnt1
/crates/rooch-types @jolestar @baichuan3
/crates/testsuite @pause125 @jolestar
/crates/rooch-benchmarks @popcnt1

/examples @jolestar @wow-sven @geometryolife
/examples/blog @wubuku @jolestar
/sdk @wow-sven @yubing744
/infra/dashboards @wow-sven @yubing744
/infra/rooch-portal @wow-sven @TwilightLogic @Mine77
/docs @wow-sven @geometryolife @Mine77

fixup ord conflict
  frameworks/bitcoin-move/sources/ord.move
Owners: @jolestar, @baichuan3, @wow-sven

fixup ord conflict
  frameworks/bitcoin-move/sources/ord.move
Owners: @jolestar, @baichuan3, @wow-sven

save sequencer accumulator info when gensis
  crates/rooch-genesis/src/lib.rs
  crates/rooch-types/src/bitcoin/types.rs
Owners: @jolestar, @baichuan3

retry rustup (#1927)
  scripts/dev_setup.sh
Owners: @yourmoonlight, @jolestar

[Accumulator] Implements sequencer accumulator (#1932)
  Cargo.lock
  crates/rooch-genesis/Cargo.toml
  crates/rooch-genesis/src/lib.rs
  crates/rooch-rpc-server/Cargo.toml
  crates/rooch-sequencer/Cargo.toml
  crates/rooch-sequencer/src/actor/sequencer.rs
  crates/rooch-sequencer/tests/test_sequencer.rs
  crates/rooch-store/Cargo.toml
  crates/rooch-store/src/accumulator_store/mod.rs
  crates/rooch-store/src/lib.rs
  crates/rooch-store/src/meta_store/mod.rs
  crates/rooch-store/src/transaction_store/mod.rs
  crates/rooch-types/Cargo.toml
  crates/rooch-types/src/bitcoin/types.rs
  crates/rooch-types/src/sequencer.rs
  crates/rooch-types/src/transaction/ledger_transaction.rs
  moveos/moveos-commons/accumulator/src/accumulator_info.rs
  moveos/moveos-store/src/lib.rs
Owners: @jolestar, @baichuan3, @wow-sven, @popcnt1

[test] Add testcase for testnet 2821527 block and refactor the real block tests (#1917)
  Cargo.lock
  crates/rooch-framework-tests/Cargo.toml
  crates/rooch-framework-tests/blocks/bitcoin/818677.blob
  crates/rooch-framework-tests/blocks/testnet/2821527.blob
  crates/rooch-framework-tests/src/blocks/818677.txt
  crates/rooch-framework-tests/src/blocks/832918.txt
  crates/rooch-framework-tests/src/tests/bitcoin_test.rs
Owners: @baichuan3, @jolestar

[bitcoin] Define l1_tx type and split l1_tx execution from l1_block
  crates/rooch-benchmarks/src/tx_exec.rs
  crates/rooch-executor/src/actor/executor.rs
  crates/rooch-executor/src/actor/messages.rs
  crates/rooch-executor/src/proxy/mod.rs
  crates/rooch-framework-tests/src/binding_test.rs
  crates/rooch-open-rpc-spec/schemas/openrpc.json
  crates/rooch-pipeline-processor/src/actor/messages.rs
  crates/rooch-pipeline-processor/src/actor/processor.rs
  crates/rooch-pipeline-processor/src/proxy/mod.rs
  crates/rooch-relayer/src/actor/relayer.rs
  crates/rooch-rpc-api/src/jsonrpc_types/transaction_view.rs
  crates/rooch-types/src/bitcoin/mod.rs
  crates/rooch-types/src/bitcoin/pending_block.rs
  crates/rooch-types/src/framework/auth_validator.rs
  crates/rooch-types/src/indexer/transaction.rs
  crates/rooch-types/src/transaction/ledger_transaction.rs
  crates/rooch-types/src/transaction/mod.rs
  frameworks/bitcoin-move/doc/pending_block.md
  frameworks/bitcoin-move/sources/bitcoin.move
  frameworks/bitcoin-move/sources/pending_block.move
Owners: @popcnt1, @jolestar, @baichuan3, @wow-sven

update last_sequencer_info
  crates/rooch-sequencer/src/actor/sequencer.rs
Owners: @popcnt1, @jolestar

refactor: extract type for utxo/inscriptions component
  infra/rooch-portal/src/common/interface.ts
  infra/rooch-portal/src/pages/assets/assets-details/tabs/bitcoin-assets/components/bitcoin-assets-btc.tsx
  infra/rooch-portal/src/pages/assets/assets-details/tabs/bitcoin-assets/components/bitcoin-assets-ordi.tsx
Owners: @wow-sven, @TwilightLogic, @Mine77

add sequencer acumulator test caese
  crates/rooch-db/src/lib.rs
  crates/rooch-store/src/lib.rs
  crates/rooch-store/src/tests/mod.rs
  crates/rooch-store/src/tests/test_accumulator.rs
Owners: @baichuan3, @jolestar, @popcnt1

fixup testcases
  crates/rooch-store/src/lib.rs
Owners: @baichuan3, @popcnt1

chore: stashed the `filter all accounts`
  infra/rooch-portal/src/pages/assets/assets-details/tabs/bitcoin-assets/components/bitcoin-assets-btc.tsx
  infra/rooch-portal/src/pages/assets/assets-details/tabs/bitcoin-assets/components/bitcoin-assets-ordi.tsx
Owners: @wow-sven, @TwilightLogic, @Mine77

[bitcoin] Define l1_tx type and split l1_tx execution from l1_block (#1933)
  crates/rooch-benchmarks/src/tx_exec.rs
  crates/rooch-executor/src/actor/executor.rs
  crates/rooch-executor/src/actor/messages.rs
  crates/rooch-executor/src/proxy/mod.rs
  crates/rooch-framework-tests/src/binding_test.rs
  crates/rooch-open-rpc-spec/schemas/openrpc.json
  crates/rooch-pipeline-processor/src/actor/messages.rs
  crates/rooch-pipeline-processor/src/actor/processor.rs
  crates/rooch-pipeline-processor/src/proxy/mod.rs
  crates/rooch-relayer/src/actor/relayer.rs
  crates/rooch-rpc-api/src/jsonrpc_types/transaction_view.rs
  crates/rooch-types/src/bitcoin/mod.rs
  crates/rooch-types/src/bitcoin/pending_block.rs
  crates/rooch-types/src/framework/auth_validator.rs
  crates/rooch-types/src/indexer/transaction.rs
  crates/rooch-types/src/transaction/ledger_transaction.rs
  crates/rooch-types/src/transaction/mod.rs
  frameworks/bitcoin-move/doc/pending_block.md
  frameworks/bitcoin-move/sources/bitcoin.move
  frameworks/bitcoin-move/sources/pending_block.move
Owners: @popcnt1, @jolestar, @baichuan3, @wow-sven

remove last order update
  crates/rooch-sequencer/src/actor/sequencer.rs
Owners: @popcnt1, @jolestar

[ci] Auto cancel the docker_build task
  .github/workflows/cancel.yml
  .github/workflows/deploy_mainnet.yml
Owners: @yourmoonlight, @jolestar

[ci] Auto cancel the docker_build task (#1942)
  .github/workflows/cancel.yml
  .github/workflows/deploy_mainnet.yml
Owners: @yourmoonlight, @jolestar

feat: add meta property for `postHeader.tsx`
  docs/website/components/blog/blogIndex.tsx
  docs/website/components/blog/postHeader.tsx
Owners: @wow-sven, @geometryolife, @Mine77

feat: update the meta data of blog
  docs/website/pages/blog/early-builders.en-US.mdx
  docs/website/pages/blog/early-builders.zh-CN.mdx
  docs/website/pages/blog/sprouting-of-rooch.en-US.mdx
  docs/website/pages/blog/sprouting-of-rooch.zh-CN.mdx
Owners: @wow-sven, @geometryolife, @Mine77

feat: update the meta data for blog
  docs/website/pages/blog/partnership-announcement-avail.en-US.mdx
  docs/website/pages/blog/partnership-announcement-avail.zh-CN.mdx
  docs/website/pages/blog/showcase-insights.en-US.mdx
  docs/website/pages/blog/showcase-insights.zh-CN.mdx
  docs/website/pages/blog/the-application-layer-of-bitcoin.en-US.mdx
  docs/website/pages/blog/the-application-layer-of-bitcoin.zh-CN.mdx
Owners: @wow-sven, @geometryolife, @Mine77

recover get-test-btc
  docs/website/pages/learn/get-test-btc.en-US.mdx
  docs/website/pages/learn/get-test-btc.zh-CN.mdx
Owners: @wow-sven, @geometryolife, @Mine77

recover inscription
  docs/website/pages/learn/inscription.en-US.mdx
  docs/website/pages/learn/inscription.zh-CN.mdx
Owners: @wow-sven, @geometryolife, @Mine77

update sidebar
  docs/website/pages/learn/miscellaneous/_meta.en-US.json
  docs/website/pages/learn/miscellaneous/_meta.zh-CN.json
  docs/website/pages/learn/miscellaneous/get-test-btc.en-US.mdx
  docs/website/pages/learn/miscellaneous/get-test-btc.zh-CN.mdx
  docs/website/pages/learn/miscellaneous/inscription.en-US.mdx
  docs/website/pages/learn/miscellaneous/inscription.zh-CN.mdx
Owners: @wow-sven, @geometryolife, @Mine77

chore: update the address display
  infra/rooch-portal/src/pages/settings/components/rooch-address.tsx
Owners: @wow-sven, @TwilightLogic, @Mine77

[Testcase] Add sequencer accumulator test cases (#1941)
  crates/rooch-db/src/lib.rs
  crates/rooch-sequencer/src/actor/sequencer.rs
  crates/rooch-store/src/lib.rs
  crates/rooch-store/src/tests/mod.rs
  crates/rooch-store/src/tests/test_accumulator.rs
Owners: @baichuan3, @jolestar, @popcnt1

Website blog (#1945)
  docs/website/components/blog/blogIndex.tsx
  docs/website/components/blog/postHeader.tsx
  docs/website/pages/blog/early-builders.en-US.mdx
  docs/website/pages/blog/early-builders.zh-CN.mdx
  docs/website/pages/blog/partnership-announcement-avail.en-US.mdx
  docs/website/pages/blog/partnership-announcement-avail.zh-CN.mdx
  docs/website/pages/blog/showcase-insights.en-US.mdx
  docs/website/pages/blog/showcase-insights.zh-CN.mdx
  docs/website/pages/blog/sprouting-of-rooch.en-US.mdx
  docs/website/pages/blog/sprouting-of-rooch.zh-CN.mdx
  docs/website/pages/blog/the-application-layer-of-bitcoin.en-US.mdx
  docs/website/pages/blog/the-application-layer-of-bitcoin.zh-CN.mdx
Owners: @wow-sven, @geometryolife, @Mine77

Recover inscription and get btc test coin docs (#1946)
  docs/website/pages/learn/miscellaneous/_meta.en-US.json
  docs/website/pages/learn/miscellaneous/_meta.zh-CN.json
  docs/website/pages/learn/miscellaneous/get-test-btc.en-US.mdx
  docs/website/pages/learn/miscellaneous/get-test-btc.zh-CN.mdx
  docs/website/pages/learn/miscellaneous/inscription.en-US.mdx
  docs/website/pages/learn/miscellaneous/inscription.zh-CN.mdx
Owners: @wow-sven, @geometryolife, @Mine77

Add the type depth checking for data_struct
  crates/rooch-framework-tests/tests/cases/mvir_tests/data_struct/data_struct_invalid_over_max_type_depth_limit.exp
  crates/rooch-framework-tests/tests/cases/mvir_tests/data_struct/data_struct_invalid_over_max_type_depth_limit.mvir
  moveos/moveos-verifier/src/error_code.rs
  moveos/moveos-verifier/src/verifier.rs
Owners: @baichuan3, @jolestar, @steelgeek091

cargo clippy
  moveos/moveos-verifier/src/verifier.rs
Owners: @steelgeek091, @jolestar

[bitcoin] Refactor bitcoin relayer to load ready l1 txs from pending block contract
  crates/rooch-relayer/src/actor/bitcoin_relayer.rs
  crates/rooch-relayer/src/actor/ethereum_relayer.rs
  crates/rooch-relayer/src/actor/messages.rs
  crates/rooch-relayer/src/actor/mod.rs
  crates/rooch-relayer/src/actor/relayer.rs
  crates/rooch-relayer/src/actor/relayer_proxy.rs
  crates/rooch-relayer/src/lib.rs
  crates/rooch-types/src/bitcoin/pending_block.rs
  frameworks/bitcoin-move/doc/pending_block.md
  frameworks/bitcoin-move/sources/genesis.move
  frameworks/bitcoin-move/sources/pending_block.move
Owners: @baichuan3, @jolestar, @wow-sven

[bitcoin] Refactor bitcoin relayer to load ready l1 txs from pending block contract (#1948)
  crates/rooch-relayer/src/actor/bitcoin_relayer.rs
  crates/rooch-relayer/src/actor/ethereum_relayer.rs
  crates/rooch-relayer/src/actor/messages.rs
  crates/rooch-relayer/src/actor/mod.rs
  crates/rooch-relayer/src/actor/relayer.rs
  crates/rooch-relayer/src/actor/relayer_proxy.rs
  crates/rooch-relayer/src/lib.rs
  crates/rooch-types/src/bitcoin/pending_block.rs
  frameworks/bitcoin-move/doc/pending_block.md
  frameworks/bitcoin-move/sources/genesis.move
  frameworks/bitcoin-move/sources/pending_block.move
Owners: @baichuan3, @jolestar, @wow-sven

chore
  infra/rooch-portal/src/pages/assets/assets-details/tabs/bitcoin-assets/components/bitcoin-assets-ordi.tsx
Owners: @wow-sven, @TwilightLogic, @Mine77

feat: enhance the image
  docs/website/components/blog/postHeader.tsx
  docs/website/theme.config.tsx
Owners: @wow-sven, @geometryolife, @Mine77

refactor: update the filter logic
  infra/rooch-portal/src/pages/assets/assets-details/tabs/bitcoin-assets/components/bitcoin-assets-btc.tsx
  infra/rooch-portal/src/pages/assets/assets-details/tabs/bitcoin-assets/components/bitcoin-assets-ordi.tsx
Owners: @wow-sven, @TwilightLogic, @Mine77

feat: enhance the meta property
  docs/website/components/blog/postHeader.tsx
  docs/website/theme.config.tsx
Owners: @wow-sven, @geometryolife, @Mine77

chore: comment the log console
  docs/website/theme.config.tsx
Owners: @wow-sven, @geometryolife, @Mine77

get the struct definition from correct path
  crates/rooch-framework-tests/tests/cases/mvir_tests/data_struct/data_struct_invalid_over_max_type_depth_limit.exp
  moveos/moveos-verifier/src/verifier.rs
Owners: @baichuan3, @jolestar, @steelgeek091

[Website] SEO Enhancement (#1959)
  docs/website/components/blog/postHeader.tsx
  docs/website/theme.config.tsx
Owners: @wow-sven, @geometryolife, @Mine77

add missed files
  crates/rooch-framework-tests/tests/cases/mvir_tests/data_struct/data_struct_invalid_vector_over_max_type_depth_limit.exp
  crates/rooch-framework-tests/tests/cases/mvir_tests/data_struct/data_struct_invalid_vector_over_max_type_depth_limit.mvir
Owners: @baichuan3, @jolestar

The native struct is not allowed
  moveos/moveos-verifier/src/error_code.rs
  moveos/moveos-verifier/src/verifier.rs
Owners: @steelgeek091, @jolestar

[Portal] Logic Enhancement (#1956)
  infra/rooch-portal/src/common/interface.ts
  infra/rooch-portal/src/pages/assets/assets-details/tabs/bitcoin-assets/components/bitcoin-assets-btc.tsx
  infra/rooch-portal/src/pages/assets/assets-details/tabs/bitcoin-assets/components/bitcoin-assets-ordi.tsx
  infra/rooch-portal/src/pages/settings/components/rooch-address.tsx
Owners: @wow-sven, @TwilightLogic, @Mine77
