Repository rooch-network/rooch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jolestar, @wow-sven, @baichuan3, @popcnt1, @steelgeek091, @yourmoonlight, @pause125, @geometryolife, @wubuku, @yubing744, @TwilightLogic, @Mine77

.github/CODEOWNERS:

/ @jolestar @wow-sven @baichuan3 @popcnt1 @steelgeek091
/Cargo.toml @jolestar @wow-sven @baichuan3 @popcnt1 @steelgeek091
/.github @yourmoonlight @jolestar
/scripts @yourmoonlight @jolestar
/kube @yourmoonlight @jolestar
/docker @yourmoonlight @jolestar

/moveos @steelgeek091 @jolestar
/moveos/metrics @baichuan3 @steelgeek091
/moveos/moveos @steelgeek091 @jolestar
/moveos/moveos-commons @baichuan3 @wow-sven
/moveos/moveos-config @baichuan3 @wow-sven
/moveos/moveos-store @baichuan3 @popcnt1
/moveos/moveos-types @jolestar @baichuan3
/moveos/moveos-verfier @steelgeek091 @jolestar
/moveos/raw-store @baichuan3 @popcnt1
/moveos/smt @baichuan3 @popcnt1 @jolestar

/frameworks @jolestar @baichuan3 @wow-sven 

/crates @baichuan3 @jolestar
/crates/rooch @wow-sven @pause125 
/crates/rooch-config @wow-sven @baichuan3
/crates/rooch-da @popcnt1 @jolestar 
/crates/rooch-executor @popcnt1 @jolestar
/crates/rooch-genesis @jolestar @baichuan3 
/crates/rooch-integration-test-runner @steelgeek091 @jolestar
/crates/rooch-key @wow-sven @popcnt1
/crates/rooch-open-rpc @wow-sven @baichuan3
/crates/rooch-open-rpc-macros @wow-sven @baichuan3
/crates/rooch-open-rpc-spec @wow-sven @baichuan3
/crates/rooch-proposer @jolestar @popcnt1
/crates/rooch-rpc-api @wow-sven @baichuan3
/crates/rooch-rpc-client @wow-sven @baichuan3
/crates/rooch-rpc-server @wow-sven @baichuan3
/crates/rooch-sequencer @popcnt1 @jolestar
/crates/rooch-store @baichuan3 @popcnt1
/crates/rooch-types @jolestar @baichuan3
/crates/testsuite @pause125 @jolestar
/crates/rooch-benchmarks @popcnt1

/examples @jolestar @wow-sven @geometryolife
/examples/blog @wubuku @jolestar
/sdk @wow-sven @yubing744
/infra/dashboards @wow-sven @yubing744
/infra/rooch-portal @wow-sven @TwilightLogic @Mine77
/docs @wow-sven @geometryolife @Mine77

Add the type depth checking for data_struct. (#1947)
  crates/rooch-framework-tests/tests/cases/mvir_tests/data_struct/data_struct_invalid_over_max_type_depth_limit.exp
  crates/rooch-framework-tests/tests/cases/mvir_tests/data_struct/data_struct_invalid_over_max_type_depth_limit.mvir
  crates/rooch-framework-tests/tests/cases/mvir_tests/data_struct/data_struct_invalid_vector_over_max_type_depth_limit.exp
  crates/rooch-framework-tests/tests/cases/mvir_tests/data_struct/data_struct_invalid_vector_over_max_type_depth_limit.mvir
  moveos/moveos-verifier/src/error_code.rs
  moveos/moveos-verifier/src/verifier.rs
Owners: @baichuan3, @jolestar, @steelgeek091

fix portal gas
  infra/rooch-portal/src/pages/assets/assets-details/tabs/coin/assets-coin.tsx
  sdk/typescript/rooch-sdk/src/constants/gas.ts
Owners: @wow-sven, @TwilightLogic, @Mine77, @yubing744

blog: add let's rooch Developer Bootcamp
  docs/website/pages/blog/let-us-move.en-US.mdx
  docs/website/pages/blog/let-us-move.zh-CN.mdx
  docs/website/public/blog/let-us-rooch/let-us-rooch-en.png
  docs/website/public/blog/let-us-rooch/let-us-rooch-zh.png
Owners: @wow-sven, @geometryolife, @Mine77

blog: add let's rooch Developer Bootcamp (#1961)
  docs/website/pages/blog/let-us-move.en-US.mdx
  docs/website/pages/blog/let-us-move.zh-CN.mdx
  docs/website/public/blog/let-us-rooch/let-us-rooch-en.png
  docs/website/public/blog/let-us-rooch/let-us-rooch-zh.png
Owners: @wow-sven, @geometryolife, @Mine77

fix portal gas (#1960)
  infra/rooch-portal/src/pages/assets/assets-details/tabs/coin/assets-coin.tsx
  sdk/typescript/rooch-sdk/src/constants/gas.ts
Owners: @wow-sven, @TwilightLogic, @Mine77, @yubing744

feat(import): import ord and utxo tools for startup
  Cargo.lock
  Cargo.toml
  crates/rooch-types/src/bitcoin/ord.rs
  crates/rooch/Cargo.toml
  crates/rooch/src/commands/statedb/commands/genesis_ord.rs
  crates/rooch/src/commands/statedb/commands/genesis_utxo.rs
  crates/rooch/src/commands/statedb/commands/mod.rs
Owners: @jolestar, @wow-sven, @baichuan3, @popcnt1, @steelgeek091, @pause125
